*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
    font-family: 'SF Pro Display', sans-serif;

}

a{
    display: block;
    text-decoration: none;
}

.container{
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 2.2rem;
}

header{
    position: fixed;
    top: 0;
    z-index: 1400;
    width: 100%;
    height: 4.4rem;
    background-color: rgba(0,0,0,.8);
    backdrop-filter: blur(2rem);
}

.nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -1rem;
}

.nav-list-mobile{
    display: none;
}

.nav-link{
    font-size: 1.4rem;
    color: #fff;
    padding: 0 1rem;
    transition: opacity .5s;
    
}

.nav-link:hover{
        opacity: .7;
}

.nav-link-apple{
    width: 1.6rem;
    height: 4.4rem;
    background: url("images/icons/apple.svg") center no-repeat;

}

.nav-link-search{
    width: 1.6rem;
    height: 4.4rem;
    background: url("images/icons/search.svg") center no-repeat;

}

.nav-link-bag{
    width: 1.4rem;
    height: 4.4rem;
    background: url("images/icons/bag.svg") center no-repeat;

}


/* image slider starts here */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 600px;
    position: relative;
    margin: auto;
    margin-top: 6.4rem;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* image slider end */


/* iphone 12  section  */

.iphone-12{
    background: url(images/hero/iphone-12/iphone_12_large_2x.jpg);
    margin-top: 4.4rem;
}

/* iphone 12pro  section  */

.iphone-12-pro{
  
    background: url("images/hero/iphone-12-pro/iphone_12_pro_large_2x.jpg");
    margin-top: 4.4rem;
 
}

/* iphone 11pro  section  */

.iphone-11-pro{
  
    background: url("images/hero/iphone-11-pro/iphone_11_pro_large.jpg");
    margin-top: 4.4rem;
 
}

.iphone-11-pro{

    border-top: none;

}


/* iphone 11 section  */

.iphone-11{
    background: url(images/hero/iphone-11/iphone_11_large.jpg);
}

/* watch section  */

.watch{
    background: url(images/hero/watch/watch_large.jpg);    
}



.title-heading-watch{
    height: 7.8rem;
    background: url(images/hero/watch/logo_watch_large.png) center no-repeat;
    background-size: auto 7.8rem;
    margin-top: 1.6rem;
}

/* title, cta etc section  */


.title{
    color: #fff;
    text-align: center;
    padding-top: 5.5rem;
}

.title-heading{
    font-size: 5.6rem;
    line-height: 1.07143;
    letter-spacing: -.005rem;
    font-weight: 550;
}

.title-sub-heading{
    font-size: 2.65rem;
    margin-top: .6rem;
    letter-spacing: .008rem;
    font-weight: 350;
}

.title-price{
    font-size: 1.7rem;
    color: #888;
    margin-top: .68rem;
}

.cta{
    text-align: center;
    margin-top: 1.8rem;
}

.cta-link{
    color: #66bbff;
    font-size: 2.0rem;
    display: inline-block;
}

.cta-link:nth-child(2){
    margin-left: 2.6rem;
}

.cta-link:hover{
    border-bottom: 2px solid #66bbff;
}





.cta-link-darker{
    color: #0981e2;
}

.cta-link-darker:hover{
    border-bottom-color: #0c62a8 ;    
}

.title-dark{
    color: #000;
        margin-bottom: 10px;


}


/* hero image  section  */


.hero{
    height: 69.2rem;
    background-size: auto 73.6rem;
    background-position: center;
    background-repeat: no-repeat;
    border-top: .6rem solid #fff;
    border-bottom: .6rem solid #fff;
}


/* premium box  */

.premiumcontainer{
    font-family: 'Blinker', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
    box-sizing: border-box;
    margin: 0; 
  
}

.cardbutton, .card-title, .cardmeta-info {
    font-family: 'Blinker', sans-serif;
  }
  
  .card-title {
    color: #fff;
    font-size: 28px;
    margin-bottom: 0.5em;
    line-height: 1.1;
  }
  
  .card-text, .cardmeta-info {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .card-text {
    line-height: 1.6;
    font-size: 18px;
  }
  
  .cardmeta-info {
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.4;
    font-size: 18px;
  }
  
  .span, .cardbutton {
    font-weight: 700;
  }
  
  span {
    display: block;
    font-size: 1.85em;
  }
  
  .cardbutton {
    font-size: 20px;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 0.55em 2em;
    color: #fff;
    background-color:    #fd8434;
  }
  
  .cardbutton:hover, .cardbutton:focus {
    background-color: rgba(185, 75, 75, 0.6);
  }
  
  
  
  /* Card Styles */
  .card, .card-body, .cardcta {
    display: flex;
    
  }
  .card {
    width: 95%;
    margin-top: 25px;
    height: 420px;
    flex-direction: column;
    background-color: rgb(90, 90, 90); 
  }
  
  .card-header {
  
    
    flex-basis: 60%;
    object-fit: cover;
    /* When using flex-basis on image, there is a bug in browsers (mostly Chrome) where flex-basis is not applied.*/
    /* To fix it, min width and hight (or whichever is cousing you problems) need to be set to 0. */
    min-width: 0;
    min-height: 0;
  }
  
  .card-body {
    flex-basis: 60%;
    padding: 2rem;
    flex-direction: column;
  }
  
  .cardcta {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: auto;
  }
  
  .cardcta p {
    flex: 0;
  }






/* FAQ section starts here */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    font-family: 'SF Pro Display', sans-serif;
  }

  .containercollapsible {
      margin-bottom: 30px;
      margin-top: 10px;
          margin-right: 20px;
    margin-left: 20px;
  }
  
 .active, .collapsible:hover {
    background-color: #ccc;
  }

  .collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  
 
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    font-size: 15px;
    font-family: 'SF Pro Display', sans-serif;
    color: rgb(87, 87, 87);

  }

  /* FAQ section ends */

/* quality first section  */

.containerglow{
    width: 100%;
    margin: 0px auto;
    padding: 0 2.2rem;

    border-top: .8rem solid #fff;
    border-bottom: .8rem solid #fff;
}

.glow {
    font-size: 7vw;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    background-color: rgb(58, 56, 56);
    font-family:monospace;
    width: 100%;

  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #08e600, 0 0 40px #00e6b4, 0 0 50px #007fe6, 0 0 60px #e68200, 0 0 70px #09962c;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4d4d, 0 0 40px #ff4da6, 0 0 50px #fffc4d, 0 0 60px #ff4da6, 0 0 70px #bbff4d, 0 0 80px #ff4da6;
    }
  }




  /* newsletter css starts */


form {
    border: 4px solid #f1f1f1;
  }
  .newslettercontainer {

    background-color: #f1f1f1;
    
    margin: 10px auto;
    margin-top: 30px;
    text-align: center;
    padding: 18px;
    width: 80%;
    border: none;
    font-family: 'SF Pro Display', sans-serif;
  }

  .nb {

    background-color: #ffffff;
    padding: 18px;
    margin: 10px auto;
    
  }
  

  input[type=text], input[type=submit] {
    width: 80%;
    padding: 12px;
    margin-top: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  
  input[type=submit] {
    background-color: #3e5744;   /* submit button  color */
    color: white;
    border: none;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
    background-color: #576b5c;
  }



/* footer section css starts */

.fdisclaimer{
    background: #f5f5f7;
    margin-top: 0.8rem;
}

.fdcontainer{
    max-width: 90%;
    margin: 0 auto;
    padding: 0 2.2rem;
}



.flinks-link{
    color: #2c3033;
    font-size: 1.2rem;
    display: inline-block;
}

.flinks-link:nth-child(2){
    margin-left: 0rem;
}


.flinks-link:hover{
    border-bottom: 2px solid #323538;
}

.flinks-link-darker{
    color: #363b3f;
}

.flinks-link-darker:hover{
    border-bottom-color: #0c62a8 ;    
}

.copyright{
    text-align: center;
    margin: 0 auto;
    color: rgb(88, 88, 88)
}


hr {
    border: none;
    border-top: 0.5px solid #e0dcdc; 
    border-bottom: 0.5px solid #b9b7b7; 
    }

    /* footer section css  ends */



/* device specific responsive part starts */


@media screen and (max-width: 1068px){

   
    .iphone-12{
        background: url(images/hero/iphone-12/iphone_12_small_2x.jpg);
    }
    .iphone-12-pro{
        background: url(images/hero/iphone-12-pro/iphone_12_pro_small_2x.jpg);
    }
    .iphone-11-pro{
        background: url(images/hero/iphone-11-pro/iphone_11_pro_medium.jpg);
    }

    .iphone-11{
        background: url(images/hero/iphone-11/iphone_11_medium.jpg);
    }

    .watch{
        background: url(images/hero/watch/watch_medium.jpg);    
    }

    .hero{
        height: 65rem;
        background-size: auto 69.8rem;
        background-position: bottom center;
        background-repeat: no-repeat;
    }

    .title-heading{
        font-size: 4.4rem;
    }

    .title-sub-heading{
        font-size: 2.4rem;
    }

    .cta-link:nth-child(2){
        margin-left: 2rem;
    }

    .title-heading-watch{
        height: 6.2rem;
        background: url("images/hero/watch/logo_watch_medium.png") center no-repeat;
        background-size: auto 6.2rem;

    }

}

@media screen and (max-width: 767px){

   
      

    .nav-list-mobile{
        display: flex;
    }

    header{
        height: 4.8rem;
        transition: background .36s cubic-bezier(0.32, 0.08, 0.24, 1),
        height .56s cubic-bezier(0.32, 0.08, 0.24, 1);
    }

    header .container{
        padding: 0;
    }

    .iphone-11-pro{
        margin-top: 4.8rem;
    }

    .nav-list-larger{
        display: none;
    }

    .nav-list{
        margin-top: 0;
    }

    .nac-list-mobile{
        display: flex;
    }

    .nav-item{
        width: 4.8rem;
        height: 4.8rem;
        display: flex;
        justify-content: center;
    }

    /* .nav-item-hidden{
        display: none;
    } */

    .mobile-menu{
        position: relative;
        z-index: 1500;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .line{
        position: absolute;
        width: 1.7rem;
        height: 1px;
        background-color: #fff;
        transition: margin-top .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    }

    .line-top{
        margin-top: 3px;
    }

    .line-bottom{
        margin-top: -.4rem;
    }

    .active .line-top{
        margin-top: 0;
        transform: rotate(45deg);
        transition: transform .3192s .1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    }

    .active .line-bottom{
        margin-top: 0;
        transform: rotate(-45deg);
        transition: transform .3192s .1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    }

    header.active{
        height: 100%;
        background-color: #000;
    }

    .nav-link-apple{
        width: 1.8rem;
        height: 4.8rem;
        position: relative;
        z-index: 1500;
    }

    .nav-link-bag{
        width: 1.6rem;
        height: 4.8rem;
        transition: opacity 3s;
    }

    .nav{
        position: relative;
    }

    .nav-link{
        font-size: 1.7rem;
        padding: 0;
        margin: auto 0;
    }

    .nav-list-larger{
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        display: block;
        padding: 10.5rem 5rem;
        z-index: 1000;
        box-sizing: border-box;
        opacity: 0;
        /* visibility: hidden; */
        transition: opacity .3s;

    }


     .active .nav-list-larger{
        width: 100%;
        height: 100vh;
        opacity: 1;
        
    }

    .active .nav-link-bag{
        opacity: 0;
        transition: opacity .3s;
    }

    .nav-list-larger .nav-item{
        width: 100%;
        justify-content: flex-start;
        border-bottom: 2px solid rgba(255,255,255,.1);
    }

    .nav-list-larger .nav-item:nth-child(9){
        border-bottom: none;
    }

    .active .nav-list-larger .nav-item{
        border-bottom: none;
    }

    @keyframes fadeIn {
        from{
            opacity: 0;
        }

        to{
            opacity: 1;
        }
    } 

   


}

@media screen and (max-width: 735px){
 
    .iphone-12{
        background: url(images/hero/iphone-12/iphone_12_small_2x.jpg);
    }
    .iphone-12-pro{
        background: url(images/hero/iphone-12-pro/iphone_12_pro_small_2x.jpg);
    }
    .iphone-11-pro{
        background: url(images/hero/iphone-11-pro/iphone_11_pro_small.jpg);
    }

    .iphone-11{
        background: url(images/hero/iphone-11/iphone_11_small.jpg);
    }

    .watch{
        background: url(images/hero/watch/watch_small.jpg);    
    }

  

    .hero{
        height: 50rem;
        background-size: auto 54.8rem;
        background-position: bottom center;
        background-repeat: no-repeat;
    }

    .title{
        padding: 3.7re,
    }

    .title-heading{
        font-size:  3.2rem;
    }

    .title-sub-heading{
        font-size:  1.9rem;
    }

    .title-heading-watch{
        margin-top: -.5rem;
        margin-bottom: 0;
    }

    .title-price{
        font-size: 1.4rem;
    }

    .cta{
        margin-top: .7rem;
    }

    .cta-link{
        font-size: 1.9rem;
    }

}
